/**
* LibertyUI CSS
* Version 1.0
*/

/*-----------------------------------------------
* ========Table Of Content========
* Base
* Common
* Main Wrapper
* NavBar
*Info-summary
*Detailed-info
*Table-info
*Updates-info
*Notifications
*------------------------------------------------*/


/*---------------------------
*Base
*----------------------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #eff3f5;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

nav{
    padding: 1% 0px 1px 0px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

li,a,button{
    text-decoration: none;
}

section{
    margin-top: 2%;
}

h1,h2,h3,h4,h5,h5,h6{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

/*---------------------------
*Common
*----------------------------*/
.card{
    background-color: #fff;
    border: 1px solid #d5dcec
}

/* .profile-pic{
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */
.dropdown::after {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F35D";
    font-size: inherit;
    margin-left: 4px;
}

.mt-top-4{
    margin-top: 1.5rem;
}

.center{
    text-align: center;
}
.btn-primary{
    color: #fff;
    font-size: 0.875rem;
    background-color: #464de4;
    border-color: #464de4;
    padding: 0.5rem 0.81rem;
    border-radius: 0.1875rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
.border-top{
    border-top: 1px solid #d5dcec;
}
/*---------------------------
*Main Wrapper
*----------------------------*/
.wrapper{
    margin: 0% 20%;
}

/*---------------------------
*Navbar
*----------------------------*/
.top-header{
    display: flex;
    flex-direction: row;
    margin: 0% 20%;
}
.top-header .logo{
    flex-grow: 2;
    cursor: pointer;
}
.top-header .logo img{
    max-width: 100%;
    width: 40%;
}
.top-header .right-top-header{
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.top-header .right-top-header div{
    margin-left: 20px;
}
.right-top-header .profile-pic img{
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.right-top-header .profile-pic::after{
    border: none;
    content: "\F140";
    font: normal normal normal 28px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
}
.right-top-header .right-search-bar{
    border-radius: 50px 50px 50px 50px;
    border: none;
    background-color: #f9f9fc;
    padding: 2px;
}
.right-top-header .right-search-bar i{
    margin-left: 20px;
}
.right-top-header .right-search-bar input[type="search"]{
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
    border: none;
    background-color: #f9f9fc;
}
.right-top-header .right-notification{
    font-size: 1.25rem;
}
.right-notification .notification-counter{
    background-color: #FF6F59;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 2px;
    position: absolute;
    top: 18px;
    left: 75.3%;
    width: 20px;
    text-align: center;
}
.sub-header{
    background-color: #f9f9fc;
    margin: 1% 20%;
}

.sub-header ul{
    list-style: none;
}
.sub-header ul i{
    margin-right: 10px;
    font-size: 1rem;
    color: #464de4;
}

.sub-header ul > li{
    display: inline-block;
    padding: 12px 20px;   
    text-align: center;
    width: 16.35%;
    font-weight: 600;
    font-size: 12px;
}
.sub-header ul > li > a{
    text-decoration: none;
    color: #223C61;
}
.sub-header .nav-active{
    background: linear-gradient(30deg, #464de4, #814eff);
    color: #fff;
}

/*---------------------------
*Info-Summary
*----------------------------*/
.info-summary-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.info-summary-container .card{
    padding: 35px 25px;
    width: 25%;   
}
.info-summary-container .card:nth-last-child(n+2){
    border-right: none;
}

.info-summary-container .card i{
    font-size: 2.5rem;
    color: #464de4;
    width: 30%;
}

.info-summary-container .card-body{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-summary-container .card-body p{
    font-size: 0.8rem;
    color: #223C61;
}
.info-summary-container .card-body h3{
    font-size: 1.56rem;
    color: #223C61;
}

/*---------------------------
*Detailed-info
*----------------------------*/
.detailed-info-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    height: auto;
}
.detailed-info-container .card{
    width: 32%;
    padding: 3%;
}
.detailed-info-container .card .card-header{
    text-align: center;
}
.detailed-info-container .profile-pic img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.detailed-info-container .card .profile-basic-info h4{
    font-size: 1.13rem;
    color: #354168;
    margin: 4px 0px;
}
.detailed-info-container .card .profile-basic-info h5{
    color: #a8abad;
    margin: 4px 0px;
    font-weight: 400;
    font-size: 0.8rem;
}
.detailed-info-container .card .card-body{
    font-weight: 400;
    font-size: 0.8rem;
}

.detailed-info-container .card-footer .profile-analytics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12%;
}

.detailed-info-container .card-footer .profile-analytics div p:nth-child(1){
    font-size: 0.9375rem;
    font-weight: 600;
}
.detailed-info-container .card-footer .profile-analytics div p:nth-child(2){
    font-size: 0.8rem;
    font-weight: 400;
}
/*---------------------------
*Table-info
*----------------------------*/
.table-info-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*---------------------------
*Updates-info
*----------------------------*/
.updates-info-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    justify-content: space-evenly;
}

.updates-info-container .card{
    width: 50%;
}

/*---------------------------
*Notifications
*----------------------------*/
.notifications-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notifications-container .card{
    height: 100px;
}