/**
* LibertyUI CSS
* Version 1.0
*/

/*-----------------------------------------------
* ========Table Of Content========
* Deafult CSS
*
*------------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;   
}

body{
    background-color: #eff3f5;
}